.slideshow-wrapper {
  padding: 2rem;
  padding-top: 5rem;
  background-color: rgb(79, 79, 79);
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.mySlides {
  display: none;

  & img {
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    max-height: 70vh;
  }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 3px;
  z-index: 8000;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover, .return:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.details {
  background-color: #f0f0f0;
  padding: 2rem;

  & .details-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
  }
}

.return {
  position: absolute;
  top: 4rem;
  left: 1rem;
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
  width: 4rem;
  aspect-ratio: 1;
  z-index: 600;
  transition: 0.6s ease;
  border-radius: 3px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    filter: brightness(0) invert(1);
  }
}

.weak {
  color: #666;
}